<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css"/>
  </head>
  <body>
    <header>
      <h1><a href="/"><%= title %></a></h1>
    </header>

    <div class="containers">
      <% containers.each do |container| %>
        <div class="container-card">
          <h3>
            <span class="chip <%= status_class(container) %>"><%= status_text(container) %></span>
            <a href="/info?container=<%= container.id %>&host=<%= container.host.name %>">
              <%= container.name %></a>
            <span class="subtitle">
              <time relative datetime="<%= container.started_at.to_iso8601 %>"><%= container.uptime %></time>
            </span>
          </h3>
          <div class="labels">
            <% container.labels.each do |label| %>
              <span class="chip <%= label[0] %>">
                <%= label[1] %>
              </span>
            <% end %>
            <span class="chip">
              Started: <time datetime="<%= container.started_at.to_iso8601 %>"></time>
            </span>
          </div>
          <div class="links">
            <% container.links.each do |link| %>
              <a class="button <%= button_class(link[0]) %>"
                href="<%= link[1] %>" target=_blank><%= HTML.escape(link[0]) %></a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <script type="text/javascript" async src="/main.js"/> </script>
  </body>
</html>
