<div class="containers">
  <%- containers.each do |container| -%>
    <section class="container <%= container.state.running? ? "active" : "inactive" %>">
      <h1 class="title rounded"><%= container.name %>
        <time relative datetime="<%= container.started_at.to_iso8601 %>"/></h1>
      <div class="buttons">
        <%-
          links = container.links
          extra_links = container.extra_links
          if links.empty?
            links = extra_links
            extra_links = [] of Tuple(String, String)
          end
        %>
        <%- links.each do |name, link| -%>
          <a class="button <%= button_class(name) %>" href="<%= link %>"><%= HTML.escape name %></a>
        <%- end -%>
        <div class="extra-buttons">
          <%- extra_links.each do |name, link| -%>
            <a class="button <%= button_class(name) %>" href="<%= link %>"><%= HTML.escape name %></a>
          <%- end -%>
        </div>
      </div>
      <div class="info">
        <table>
          <tr>
            <th>Host</th>
            <td><a href="/?host=<%= container.host.name %>">
                <%= container.host.name %></a></td>
          </tr>
          <%- container.labels.each do |header, value| -%>
            <tr>
              <th><%= header %></th>
              <td><%= value %></td>
            </tr>
          <%- end -%>
        </table>
      </div>
    </section>
  <% end %>
</div>
