<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="/vanilla.css"/>
    <link rel="stylesheet" href="/styles.css"/>
  </head>
  <body>
    <header>
      <h1><a href="/"><%= title %></a></h1>
    </header>

    <div class="containers">
      <% containers.each do |container| %>
        <div class="p-card">
          <h3>
            <i class="p-icon--<%= icon_for(container) %>"></i>
            <a href="/info?container=<%= container.id %>&host=<%= container.host.name %>">
              <%= container.name %></a>
            <span class="u-text--muted p-text--small"><%= container.uptime %></span>
          </h3>
          <div class="labels">
            <% container.labels.each do |label| %>
              <button class="p-chip<%= label[0] %> is-dense">
                <span class="p-chip__value"><%= label[1] %></span>
              </button>
            <% end %>
            <button class="p-chip is-dense">
              <span class="p-chip__lead">Started</span>
                <span class="p-chip__value"><time datetime="<%= container.started_at.to_iso8601 %>"></time></span>
            </button>
          </div>
          <div class="links">
            <% container.links.each do |link| %>
              <a class="p-button <%= button_class(link[0]) %>"
                href="<%= link[1] %>" target=_blank><%= HTML.escape(link[0]) %></a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <script>window.onload = () => Array.from(document.querySelectorAll('time')).forEach(
      time => { time.innerText = new Date(time.dateTime).toLocaleString('en-AU', {hour12: false}); });
    </script>
  </body>
</html>
