body {
  font-family: system-ui, sans-serif;
  max-width: 40em;
  margin: auto;
  padding: 1em;
  color: black;
  background: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
  a {
    color: cornflowerblue;
  }
  a:hover, a:visited {
    color: aqua;
  }
}


header {
  text-align: center;
}
.rounded {
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
}

section.container h1 > time {
  color: grey;
  font-size: 1rem;
  font-family: monospace;
  font-weight: normal;
}

section.container {
  border: 2px solid grey;
  border-radius: 2px;
  padding: 1em;
  margin: 1em 0.2em;
  display: grid;
  grid-template-columns: 60% 40%;
}

section.container.active {
  border-color: green;
}

section.container.inactive {
  border-color: red;
}

.extra-buttons {
  display: none;
}

.butt-divider {
  border-top: 1px solid grey;
}

section.container.expanded .buttons > .extra-buttons {
  display: block;
}

section.container h1 {
  margin: 0;
}

.buttons {
  grid-column: 2;
  grid-row: 1 / 3;
}

a.button {
  padding: 0.5em;
  display: block;
  text-align: center;
  margin: 0.2em;
  color: white;
  text-decoration: none;
}

a.button.port {
  background: #333;
}

a.button.port:hover {
  background: #222;
}

a.button.status {
  background: green;
}
a.button.status:hover {
  background: #005100;
}

a.button.other {
  background: cornflowerblue;
}
a.button.other:hover {
  background: #3164c4;
}

.info {
  color: #777;
}
@media (prefers-color-scheme: dark) {
  .info {
    color: lightgrey;
  }
}

.info table th {
  text-align: right;
}
